<!--Footer-->
{% load static %}

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <img style="margin-top:-7px;" src="{% static 'images/logo.png' %}" alt="logo">
                    <p><span class="font-weight-bold"
                            style="color: #f82249;">QA LTD</span>
                        is a leading training provider in the United Kingdom involved in Professional training, Higher Education, Apprenticeships and Consulting services. QA’s Higher Education (QAHE) services are delivered via partnerships with Universities like University of Ulster, Northumbria University and etc.</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4 class="text-capitalize" style="font-family: 'Poppins', sans-serif;font-size: 1.2em;letter-spacing: 1px;">Quick Reference</h4>
                    <ul  style="font-family: 'Poppins', sans-serif;" class="py-2">
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'main:index' %}">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'main:course' %}">Courses</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{% url 'main:about' %}"> About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'main:contact' %}">Contact us</a></li>
                          </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4 class="text-capitalize" style="font-family: 'Poppins', sans-serif;font-size: 1.2em;letter-spacing: 1px;">Contact Us</h4>
                    <p>
                         York Street <br>
                       Belfast, Co. Antrim BT15 1ED<br>
                        <strong>Phone:</strong> +44 7464 878009<br>
                        <strong>Email:</strong>  Naimjonov98@mail.ru<br>
                    </p>

                    <div class="social-links">
                        <a href="https://twitter.com/UlsterUni" target="_blank" class="twitter" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/ulsteruniversity" target="_blank" class="facebook" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/ulsteruni" target="_blank" class="instagram" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCJCPoVMPAwnWSFPG0HDdHlw/featured" target="_blank" class="youtube" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Youtube"><i class="fa fa-youtube"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            Copyright &copy; 2020 <strong style="color: #f82249;">Lazizbek</strong>. All Rights Reserved.
        </div>

    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'main/header/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/header/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'main/header/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/header/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'main/header/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'main/header/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'main/header/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'main/header/lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'main/header/lib/owlcarousel/owl.carousel.min.js' %}"></script>



<!-- Template Main Javascript File -->
<script src="{% static 'main/header/js/main.js' %}"></script>