{% extends 'main/base.html' %}
{% load static %}

{% block title %}
     <title>Lazizbek - Online System</title>
{% endblock %}

{% block body %}
    <div class="custom-cursor">
        <!--Header-->
        {% include 'main/header.html' %}
        <!-- #header -->


        <section id="intro" style="background-image: url('{% static 'images/7.jpg' %}')">
            <div class="intro-container wow fadeIn">
                <h1 class="mb-4 pb-0"><span>Lazizbek</span><br> Online Booking & Tracking System </h1>
                <p class="mb-4 pb-0">Stay Hungry. Stay Foolish! - Steve Jobs</p>

                <a href="{% url 'main:course' %}" class="about-btn scrollto">View Courses</a>
            </div>
        </section>

        <main id="main">


            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="text-capitalize" style="font-size: 1.8em;">Making every student unstoppable!</p>
                            <p>"If you want to teach people a new way of thinking, don't bother
                                trying to teach them. Instead, give them a tool, the use of which will lead to new ways
                                of
                                thinking."<strong><br>- R.Buckminster Fuller</strong></p>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <h3>Contact us</h3>
                            <p>Mail : <span class="text-danger font-weight-bold">Naimjonov98@mail.ru</span></p>
                        </div>
                    </div>
                </div>
            </section>


            <section id="schedule" class="section-with-bg">
                <div class=" mx-5 wow fadeInUp">
                    <div class="section-header">
                        <h2 style="color: rgb(14,27,77)">`Lazizbek` Online System</h2>
                        <p class="text-capitalize">Being able to learn anywhere and anytime</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4 wow fadeInUp" style="font-family:'Poppins', sans-serif; font-weight: 500;">
                            <h3 style="color: rgb(16,42,67); font-weight: 700; font-size: 1.9em;" class="mb-4">What this system does?</h3>

                            <ul class="list-nav list-unstyled mt-4" style="font-size: 1.05em; font-weight: 500;">
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="What this system does">
                                    <span>Split big groups into subgroups</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="What this system does">
                                    <span>Delivering face-to-face and online sessions</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="What this system does">
                                    <span>Booking & tracking groups</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="What this system does">
                                    <span>Managing and controlling attendance</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="What this system does">
                                    <span>Optimized Functionality</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-8 wow fadeInUp">
                            <img class="img-responsive img-thumbnail"
                                 src="{% static 'images/ATTENDANCE.png' %}" alt="Why should I use it?">
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-8 wow fadeInUp">
                            <img class="img-responsive img-thumbnail"
                                 src="{% static 'images/guide.jpg' %}" alt="How to get started ?">
                        </div>
                        <div class="col-md-4 wow fadeInUp" style="font-family:'Poppins', sans-serif;">
                            <h3 style="color: rgb(16,42,67); font-weight: 700; font-size: 1.9em;" class="mb-4">How to get started ? </h3>
                            <p style="font-size: 1.1em;">Here is a list of steps tyou need to take before starting to use this system.  </p>
                            <ul class="list-nav list-unstyled mt-4" style="font-size: 1.05em; font-weight: 500;">
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="how to use it">
                                    <span>Get general overview from ABOUT US</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="how to use it">
                                    <span>Go through Authentication</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="how to use it">
                                    <span>Start using our plaform</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="how to use it">
                                    <span>Booking & tracking groups</span>
                                </li>
                                <li class="my-3"><img style="height: 20px;width: 20px;"
                                                      src="{% static 'images/output-onlinepngtools.png' %}" alt="how to use it">
                                    <span>Got stuck? <strong>Contact us!</strong></span>
                                </li>


                            </ul>

                        </div>

                    </div>
                </div>

            </section>


        </main>


        <!--Footer-->
        {% include 'main/footer.html' %}

        <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>


    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}